# These properties are need to send an email, you can look the full documentation
# visit here- https://www.emailjs.com/docs/sdk/installation/
NEXT_PUBLIC_YOUR_SERVICE_ID=
NEXT_PUBLIC_YOUR_TEMPLATE_ID=
NEXT_PUBLIC_YOUR_USER_ID=


# I've used this api to get the personal stats of my dev.to blog 
# You can generate you `api-key` through https://dev.to/settings/account
NEXT_PUBLIC_BLOGS_API=

# Spotify API TOKENS
# This is little bit complex complex process. So, I have made a full tutorial how you can get your credentials
# visit here - https://j471n.in/blogs/spotify-api-nextjs 
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=


# Revue Newsletter API KEY 
# You can apply for the api key and after that they will take about 2-3 business day, if they approved then you can find your 
# api at the bottom of the https://www.getrevue.co/app/integrations
REVUE_API_KEY=

# Firebase Credential
NEXT_PUBLIC_FIREBASE_DB_URL=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# bundle analyzer : true (when you want to analyze) !!!
ANALYZE=false

# To handle the UPI Payment Modal and QR Code
NEXT_PUBLIC_UPI=