/*  main data Container */

.article_page {
  @apply p-3  md:max-w-[60%];
}

.article_sidebar {
  @apply block md:sticky right-0 top-0 bottom-0 w-full;
}

.blog {
  @apply p-2;
}

.article_header {
  @apply flex  flex-col;
}

.socialMedia {
  @apply flex my-2 space-x-3;
}

.tag {
  @apply border border-gray-400 text-xs p-1 mr-2 mt-2 rounded-md cursor-pointer hover:bg-gray-100;
}

/* Dev blog */

.dev_blog {
  /* @apply ; */
}

.dev_blog > p,
.dev_blog > span,
.dev_blog h1,
.dev_blog h2,
.dev_blog h3,
.dev_blog h4,
.dev_blog h5,
.dev_blog h6 {
  @apply my-2;
}

.dev_blog blockquote {
  @apply border-l-4 border-gray-500 pl-3;
}

.dev_blog > p > code {
  @apply bg-gray-200 p-1 py-[2px] text-xs rounded-md;
}
.dev_blog a {
  @apply underline hover:text-blue-500;
}
.dev_blog h1 {
  font-size: 2em;
  font-weight: bolder;
}
.dev_blog h2 {
  font-size: 1.5em;
  font-weight: bolder;
}
.dev_blog h3 {
  font-size: 1.17em;
  font-weight: bolder;
}
.dev_blog h4 {
  font-size: 1em;
  font-weight: bolder;
}
.dev_blog h5 {
  font-size: 0.83em;
  font-weight: bolder;
}
.dev_blog h6 {
  font-size: 0.67em;
  font-weight: bolder;
}

.dev_blog > ul > li {
  @apply p-4 text-blue-500 font-medium ring-1  my-2 shadow rounded-lg;
}
.dev_blog > ul > li > a {
  @apply no-underline;
}
