.comment > span,
.comment h1,
.comment h2,
.comment h3,
.comment h4,
.comment h5,
.comment h6 {
  @apply my-2;
}

.comment > span > p {
  @apply text-xs lg:text-base my-1 leading-5;
}

/* Comment */

.comment {
  @apply pl-10 break-words overflow-x-hidden w-full font-inter;
}
.comment a {
  @apply text-purple-500 underline my-2;
}
.comment blockquote {
  @apply border-l-4 border-gray-500 pl-3 text-xs sm:text-base my-1;
}

.comment > span > p > code {
  @apply bg-gray-200 p-1 py-[2px] text-xs sm:text-base rounded-md;
}

.comment h1 {
  font-size: 2em;
  font-weight: bolder;
}
.comment h2 {
  font-size: 1.5em;
  font-weight: bolder;
}
.comment h3 {
  font-size: 1.17em;
  font-weight: bolder;
}
.comment h4 {
  font-size: 1em;
  font-weight: bolder;
}
.comment h5 {
  font-size: 0.83em;
  font-weight: bolder;
}
.comment h6 {
  font-size: 0.67em;
  font-weight: bolder;
}

.comment > span > ul,
.comment > span > ol {
  @apply list-disc ml-4 text-xs sm:text-base;
}
.comment > span > ul > li > a,
.comment a {
  @apply no-underline space-x-3 text-purple-500 font-medium my-2 hover:underline;
}

.comment > span > p img {
  @apply mx-auto;
}

.comment > span > p > code {
  @apply bg-gray-200 px-1 py-[2px] text-xs sm:text-base rounded-md;
}

.comment pre {
  @apply flex overflow-x-scroll max-w-full bg-[#262A33] p-4 rounded-lg text-gray-300 text-xs sm:text-base;
}
