@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #b98dff;
  border-radius: 20px;
}

/* Custom Scrollbar Class */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 20px;
}

/* SKill bar animation */
.skill__bar {
  animation: bar 2s linear;
}

@keyframes bar {
  from {
    width: 0;
  }
}

/* Page Container Sliding animation */
/* .page_container > *:nth-child(odd) {
  animation: slide-in-left 1s ease-in-out both;
}

.page_container > *:nth-child(even) {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
} */

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* Comment */

.comment {
  @apply ml-10  break-words;
}
.comment a {
  @apply text-blue-400 underline;
}

/* Layers Components or the custom class extends with tailwind */
@layer components {
  .bottom_nav_icon {
    @apply m-1 text-3xl cursor-pointer;
  }
  .top-nav-link {
    @apply list-none mx-1 px-4 py-1 transition-all duration-200 hover:rounded-md hover:bg-gray-300 cursor-pointer text-lg font-semibold select-none;
  }
  .contact_field {
    @apply text-lg w-full p-[0.8rem] m-[0.3rem] rounded-md border-none outline-none shadow-inner ring-1 ring-gray-300 focus:ring-2 focus:ring-purple-500;
  }
  .title_of_page {
    @apply text-center text-xl font-bold mt-3;
  }
  .icon {
    @apply text-2xl sm:text-2xl m-1 transform duration-200 lg:hover:scale-150 cursor-pointer;
  }
  .page_container {
    @apply p-5 md:px-24 my-0 mx-auto place-items-center gap-8 pb-28 z-0 grid grid-rows-[1fr] grid-cols-1 sm:grid-cols-2 lg:grid-cols-3  3xl:grid-cols-4;
  }
  .blog_bottom_icon {
    @apply text-3xl p-1 bg-gray-100 sm:bg-transparent ring-1 ring-gray-300 sm:hover:bg-gray-100 rounded-md cursor-pointer ml-1;
  }
  .blog_bottom_button {
    @apply block sm:hidden py-1 w-full lg:hover:bg-gray-300 cursor-pointer bg-gray-200 rounded-md transform duration-100 active:scale-90 select-none;
  }
  .user_reaction {
    @apply flex font-semibold items-center cursor-pointer lg:hover:text-[#39e58c];
  }
  .project_link {
    @apply w-full text-center flex bg-gray-100 lg:hover:bg-gray-200 justify-center py-2 m-1  rounded-lg transform duration-100 active:scale-95 active:bg-gray-200 cursor-pointer;
  }
  .clickable_button {
    @apply transform duration-100 active:scale-90 lg:hover:scale-105;
  }
}
