@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background-color: #b98dff;
  border-radius: 20px;
}

/* Custom Scrollbar Class */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 20px;
}

/* Layers Components or the custom class extends with tailwind */
@layer components {
  .bottom_nav_icon {
    @apply m-1 text-3xl active:-translate-y-2;
  }
  .top-nav-link {
    @apply list-none mx-1 px-4 py-1 transition-all duration-200 hover:rounded-md hover:bg-gray-300 cursor-pointer text-lg font-semibold;
  }
  .contact_field {
    @apply text-lg w-full p-[0.8rem] m-[0.3rem] rounded-md border-none outline-none shadow-inner ring-1 ring-gray-300 focus:ring-2 focus:ring-purple-500;
  }
  .title_of_page {
    @apply text-center text-xl font-bold;
  }
  .icon {
    @apply text-2xl sm:text-4xl m-1;
  }
  .page_container {
    @apply p-5 my-0 mx-auto grid; 
  }
}
